
.f-control small {

    font-size: 11px !important;
    color:#808080;
}

.bg-light-gray2 {
    background-color: #333333;
    border-radius: 7px;
}

.f-control p {

    font-size: 13px !important;
    padding:0;
    margin: 0;
}

.chat-doc .btn-close {
    background-color: #DEDEDE;
    border-radius: 20px;
    opacity: inherit;
    margin-top: 6px;
    padding: 6px;
    font-size: 11px;
    right: 7px;
    position: absolute;
}

.rounded {
    border-radius: 8px!important;
}




.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100% !important;
  animation-duration:0.6s;
  max-width: 100% !important ;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}

.modal-fullscreen .modal-content {

    background: #000 !important;
    border-radius: 0 !important;

}

.btn-close2 {
    padding: 0;
    background-color: #000 !important;
    border: 0;
}



//  8/18/22

.tooltip_hover_new {
  position: absolute;
  display: inline-block;
  right: 0;
  right: 60px;
  margin-top: -40px;
}

.tooltiptext {
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 10px 5px;
  z-index: 3;
  opacity: 0;
  
}



.hover-effcct:hover .tooltiptext {
  opacity: 1;
}

.tooltiptext img {
 cursor: pointer;
}

.hover-effcct:hover {

  background-color:#2D2D2D;
  
}

.mt-n1 {
  margin-top: -20px;
}

