<div class="emv-invittion">
  <div
    class="modal fade"
    #user_attendence_modal
    id="exampleModalmap"
    tabindex="-1"
    aria-labelledby="exampleModalmap"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="d-flex">
            <div class="position-relative">
              <div
                class="online-status"
                [class]="punchType === 'IN' ? 'online' : 'offline'"
              ></div>
              <img
                *ngIf="imageUrl != ''"
                class="me-2 c-img"
                [class]="punchType === 'IN' ? 'border-green' : 'border-gray-n'"
                src="{{ imageUrl }}"
              />
              <span
                class="me-2 c-img profilepic_new"
                [class]="punchType === 'IN' ? 'online' : 'offline'"
                [class]="punchType === 'IN' ? 'border-green' : 'border-gray-n'"
                *ngIf="imageUrl == ''"
                >{{
                  fullName == fullName1 ? "You".charAt(0) : fullName1.charAt(0)
                }}</span
              >
            </div>
            <div>
              <p class="pb-0 mb-0 pt-3">
                {{ fullName == fullName1 ? "You" : fullName1 }}
              </p>
            </div>
          </div>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body location">
          <div class="row">
            <div class="col-md-6 p-0 pe-2">
              <div class="d-flex">
                <div class="time">
                  In : {{ latestCheckin ? ( latestCheckin | formatTimestampTime):'' }}
                </div>

                <div class="ps-3 pt-1">
                  <p class="fw-light">
                    {{ latestCheckin ?(latestCheckin | formatTimestampDate):'' }}
                  </p>
                </div>
              </div>

              <div class="rounded1 overflow-hidden border" [class]="{
                opacity1: punchType == ''
              }">
                <agm-map [latitude]="latIn" [longitude]="lonIn">
                  <agm-marker
                    [latitude]="latIn"
                    [longitude]="lonIn"
                  ></agm-marker>
                </agm-map>
              </div>

              <p class="text-white fw-light address">
                {{ addIn }}
              </p>
            </div>
            <div class="col-md-6 p-0">
              <div class="d-flex">
                <div class="time-gray">
                  Out : {{ latestCheckout ? ( latestCheckout | formatTimestampTime):'' }}
                </div>

                <div class="ps-3 pt-1">
                  <p class="fw-light">
                    {{ latestCheckout ? (latestCheckout | formatTimestampDate):'' }}
                  </p>
                </div>
              </div>

              <!--<div
                [class]="
                  latestCheckout == '0001-01-01T00:00:00' ? 'opacity' : ''
                "
              >-->
              <div
                class="rounded1 overflow-hidden border"
                [class]="{
                  opacity1: punchType == '',
                  opacity: punchType == 'IN'
                }"
              >
                <agm-map [latitude]="latOut" [longitude]="lonOut">
                  <agm-marker
                    [latitude]="latOut"
                    [longitude]="lonOut"
                  ></agm-marker>
                </agm-map>
              </div>

              <p class="text-white fw-light address">
                {{ addOut }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
