
.privacy {
    height: 100vh;
    overflow-y: scroll;
}

.priv-img{
    width: 130px;
}

section.privacy p a {
    color: white;
}
@media only screen and (max-width: 767px) {

    section.privacy.pt-5.pb-5.bg-black p {
        text-align: justify;
    }

    .priv-img{
        width: 77px;
    }

    section.privacy h2.text-center.text-white.pt-4.pb-5.fw-normal {
        padding: 26px 0 0 0!important;
        margin: 0 !important;
    }
}