.select-default {
  color: #b5b5b5;
  padding: 7px 13px;
  font-size: 14px;
  border: 2px solid #d7d7d7;
  border-radius: 20px;
  width: 100%;
  margin: 0 0 0 1%;
  font-weight: 400;
  background: #ebf5ff;
  background-position: 90%;
  background-size: 11px;
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
  font-family: "Poppins";
  text-align: left;
}

.select-blue {
  color: #1f45cc;
  border: 2px solid #1f45cc;
}

.select-list {
  width: 100%;
  font-size: 14px;
}
