// empty table 
.table-empty-content span img {
  width: 154px;
}

.table-empty-content button {
  width: 171px !important;
  padding: 21px !important;
}

.table-empty-content button a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.table-empty-content span h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  line-height: initial;
}

.table-empty-content span p {
  font-size: 13px;
}

.table-empty-content span {
  width: 100%;
  float: left;
  margin-top: 64px;
}

.table-empty-content {
  float: left;
  width: 100%;
}

.table-empty-content span img {
  width: 55%;
  margin: 0 auto;
}