<ul class="sidebar-nav p-0">
  <li class="collaspe-view list-unstyled padding-adjust border-0">
    <span><img [nexaeiImageSrc]="'header/polygon.svg'" /> Colleagues</span
    ><label (click)="openTeamCreateModal()">+</label>
  </li>
</ul>
<ul class="sidebar-nav padding-adjust">
  <li class="list-unstyled user-status">
    <h4><img [nexaeiImageSrc]="'member/user.png'" /></h4>
    <span>
      <h5>Robert Smith</h5>
      <label>Yes we can do this but we need to do...</label></span
    >
    <p>10:15 AM</p>
  </li>
  <li class="list-unstyled user-status">
    <h4><img [nexaeiImageSrc]="'member/user.png'" /></h4>
    <span>
      <h5>Arya Abhi</h5>
      <label>Yes we can do this but we need to do...</label></span
    >
    <h6>Yesterday</h6>
  </li>
  <li class="list-unstyled user-status">
    <h4><img [nexaeiImageSrc]="'member/user.png'" /></h4>
    <span>
      <h5>Pooja Singh</h5>
      <label>This is the most connecting thing the will...</label></span
    >
    <h6>12 Aug</h6>
  </li>
</ul>
