.container-fluid {
    background: #000;
    height: 100%;
}

html {
    height: 100% !important;
}

body {
    height: 100%;
}

.form-container {
    width: 79%;
}

span.logo p {
    font-size: 14px;
    margin: -16px 0 25px 0;
}

.gardientbackground img {
  position: absolute;
  bottom: 0;
  top: 34px;
}

button.btn.primary-xl{
  position: relative;
  left: -40px;
  width: 70% !important;
}

span.logo {
    margin-bottom: 0;
    float: left;
}

button.btn.primary-xl {
    float: none;
    margin: 0 auto;
    display: block;
    width: 80%;
}

.av-selected-label {
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .av-selected-label input {
    display: none;
  }
  
  .av-selected-label .icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    background: none;
    border: none;
    border-radius: 0;
  }

  .av-selected-label .icon:before {
    content: "";
    background: url("../../../../assets/images/org_setup/tick_org_setup.png") CENTER CENTER NO-REPEAT;
    position: absolute;
    width: 19px;
    height: 19px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #000;
    text-align: center;
    opacity: 0;
    background-size: 19px;
    right: 0;
    top: 8px;
  }
  
  span.active .av-selected-label .icon:before{
    opacity: 1;
  }

  .av-selected-label input:checked + .icon {
    border-color: #3057d5;
  }
  
  .av-selected-label input:checked + .icon:before {
    color: #fff;
    opacity: 1;
  }
  
  .av-selected-label input:checked ~ .av-selected-content {
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5);
    border: solid 2px #3057d5;
  }

  .choose_indus span {
    padding: 14px 0px;
    margin: 0 9px 11px 0;
    width: 26.6%;
}

span.logo p {
  font-size: 15px;
  font-weight: 300!important;
}

.choose_indus span p {
  font-size: 12px;
}