<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="gardientbackground">
                <img class="width-full" [nexaeiImageSrc]="'reset-password.png'" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-container">
                <span class="logo col-md-2">
                    <img [nexaeiImageSrc]="'logo.jpg'" /></span>
                <div class="heading">
                    Forgot Password
                    <div class="subheader">Enter your registered mobile number to reset your password</div>
                </div>

                <form [formGroup]="registerFormForgot" (ngSubmit)="onSubmit()">
                    <fieldset class="form-card">
                        <div *ngIf="serverErrorMessage" class="col-12">
                            <span class="text-danger mb-4 d-block">{{serverErrorMessage}}</span>
                        </div>
                        <div class="col-12">
                            <div class="custom-input" [ngClass]="{
                                'alert-input':
                                registerFormForgotControls.number?.dirty &&
                                registerFormForgotControls.number?.invalid
                              }">
                                <app-country-select-dropdown>
                                </app-country-select-dropdown>
                                <input type=" tel" class="form-control country-code-input" id="mobileNumber"
                                    placeholder="Mobile Number" [formControlName]="'number'" maxlength="15" />
                            </div>
                            <div id="numberError">
                                <span *ngIf="
                                registerFormForgotControls.number?.dirty &&
                                registerFormForgotControls.number?.errors?.required
                                      " class="d-block text-danger form-text text-capitalize">Phone number
                                    Required</span>
                                <span class="d-block invalid-feedback" *ngIf="
                                    registerFormForgotControls.number?.dirty &&
                                    registerFormForgotControls.number?.errors?.invalidMobileNumber &&
                    !registerFormForgotControls.number?.errors?.required
                  ">Mobile format is wrong</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button [disabled]="isSubmitFormLoading" type="submit" class="btn button-primary-xl">
                                Next
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
