<ul id="CollegueDes" class="sidebar-nav mt-3 mb-0 padding-adjust">
  <li class="collaspe-view list-unstyled pb-4 border-0">
    <span>All Colabs</span
    >
  </li>
  <span *ngFor="let c of memberList; index as i">
    <li
    class= "list-unstyled user-status"
      [class]="{
        active: c.userId ? selectedColleague === c.userId : selectedColleague === c.id
      }"
      *ngIf="currentUser != c.nickname || c?.designation?.designation == 'TEAM-LEAD'"
    >
      <h4 [class]="c?.latest_punch_type?.latest_punch_type == 'IN' ? 'border-green' : 'border-gray-n'" >
        <img src="{{c.userPic.uri}}" *ngIf="c.userPic != '' && c.userPic" /> 
          <span *ngIf="c.nickname && !c.userPic" class="text-dark upper" >{{ c.nickname.charAt(0) }}</span>
        <span *ngIf="c.name" class="text-dark upper" >{{ c.name.charAt(0) }}</span>
      </h4>
      <span data-bs-toggle="collapse" (click)="collegueClick(c)">
        <h5 *ngIf="c.nickname" (click)="collegueClick(c)">{{ c.nickname }}</h5>
        <h5 *ngIf="c.name" (click)="collegueClick(c)">{{ c.name }}</h5>
        <label (click)="collegueClick(c)"
          >
          </label
        ></span
      >
      <!-- <p>{{ c.latest_punch_time ? (c.latest_punch_time | formatTimestampTime):'' }}</p> -->
    </li>
  </span>
</ul>

<!-- <div
  id="IconCollegue"
  class="tgle-icon w-100 pt-2 pb-2 text-center"
  [class]="colleagueListData && colleagueListData.length < 4 ? 'disabled' : ''"
>
  <span></span>
  <label>
    <img [nexaeiImageSrc]="'sidebar/down-arrow.png'" />
  </label>
</div> -->
