
.rounded {
    border-radius: 10px!important;
}

.location p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
}

.address {

    min-height: 63px;
}


.emv-invittion .modal-content {
    background: #333333 !important;
    border-radius: 25px !important;
    border:2px solid #8e8e8e !important
}


.modal-lg, .modal-xl {
    max-width: 722px;
}

