@media only screen and (max-width: 1280px) {
  

    .day_time {
        width: 200px;
    }

    .dropdown {
        margin-right: -13px !important;
     }

 
    

   
}

@media only screen and (max-width: 1270px) {

    .search_s {

        position: absolute;
        right: 10px;
    }

    

    .flow_sec h5 {

        font-size: 12px;
        margin-top: 0px;
    }

    .w-800 {
        width: 467px !important;
    }

    .gardientbackground img {
        height: 100%;
        object-fit: cover;
    }
    .gardientbackground {
        position: absolute;
        height: 100%;
    }

    .team_defolt h5 {
        font-size: 15px !important;
    }
    // .c-img2 {
    //     width: 35px;
    //     height: 35px;
    //     border-radius: 50%;
    // }

    .c-team {
        width: 35px;
        height: 35px;
    }

    .sticky {
        width: 71.7% !important;
       
    }
}

@media only screen and (max-width: 1025px) {

 
    
    .sticky {
        width: 68.5% !important;
    }

 
    .form-container {
        width: 82%;
    }

    .day_time {
        width: 196px;
    }

    .sec_first h5 {
        font-size: 16px;
    }

    .sign_s::before {
        width: 41px;
        height: 41px;
        z-index: 1;
        margin-top: -3px;
        margin-left: 11px;
        background-size: 86%;
    }

    .c-img_small {
        width: 26px;
        height: 26px;
    }

    .day_time {
        width: 162px;
        font-size: 11px;
    }

    .sec_first small {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 991px) {

 

    .left-arow {
        width: 12px;
        margin-right: 14px;
        margin-top: 10px;
        margin-left: 13px;
    }
    
    .start-sec {

        width: 331px !important;
        padding-top: 4px !important;
    }

    .flow_sec .border-start {
        height: auto !important;
    }


    .start-sec img {
        width: 34px !important;
        margin-top: -20px;
    }

    .sticky {
        width: 74.5% !important;
    }

  

    .team_defolt h5 {
        font-size: 20px !important;
    }

    .header_search {
        width: 153px;
    }

    .emv-invittion_h {
        height: 90%;
    }

    .otp_bg {
        background: none;
    }

    .otp-container {
        width: 53%;
        margin: 25px auto 0;
    }

    .c-img_small {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: relative;
    }

    .sec_first small {
        font-size: 13px !important;
    }

    .sign_s::before {
        width: 68px;
        height: 68px;
        background: url(assets/images/collab/image_back.png) no-repeat;
        content: "";
        position: absolute;
        z-index: 1;
        margin-top: -6px;
        margin-left: 9px;
        background-size: 46px

    }

    .sec_first p {
        font-size: 14px;
    }

    .day_time {
        width: 86%;
        font-size: 11px;
    }

    .sec_first {
        padding-bottom: 3px;
        
    }

    .sec_first p {
        font-size: 13px;
    }

   

    .tab {
        margin-left: 18px;
    }

    .c-img {
        width: 30px;
        height: 30px;
    }

    .f-control2 {
        font-size: 13px;
    }

    // .online-status {
    //     margin: 20px 0 0 19px;
    // }

    .modal-dialog {
        max-width: 700px !important;
    }

    .deletmodal .modal-dialog {
        max-width: 500px !important;
    }

    .w-14 {
        height: 47px;
    }

    .left_img {
        width: 100%;
    }
    /* # Before login */
    .res-stu.bg-color-dark {
        width: 100%;
    }

    .gardientbackground {
        height: 100%;
        display: none;
    }

    .modal-content.org_setup_skip_model {
        padding: 0 1rem !important;
    }

    /*Inner page*/
    .inner-sec_ {
        padding: 0 21px;
    }

    .subheader h5 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 768px) {

    .sticky {
        width:72% !important;
    }

    .c-img_small {
        width: 28px;
        height: 28px;
    }

    .sign_s::before {
        width: 57px;
        height: 57px;
        position: absolute;
        z-index: 1;
        margin-top: -7px;
        margin-left: 9px;
        background-size: 42px;
    }

    .start-sec {

        width: 297px !important;
        padding-top: 4px !important;
    }

    .sec_first h5 {
        font-size: 16px;
    }

    .sec_first p {
        font-size: 13px;
    }

    .tab {
        margin-left: 18px;
        font-size: 14px;
    }

    .f-control2 {
        font-size: 12px;
    }

    .otp-container form {
        padding: 30px 25px;
    }

    button.btn.primary-xl {
        padding: 28px;
    }
}
